.custom-editor {
    caret-color: black; 
    background-color: white;
    color: black;
}

.custom-editor text {
    caret-color: black;
    background-color: white;
    color: black;
}

.custom-error {
    background-color: #f0f0f0;
    color: red;
}

.custom-error text {
    background-color: #f0f0f0;
    color: red;
}
.custom-error {
    background-color: #ffebee; /* Fondo rojo claro */
    color: #c62828; /* Texto rojo oscuro */
    padding: 10px;
    border: 1px solid #c62828;
    border-radius: 5px;
}
.line-number-container {
    border-right: 1px solid #333333; /* Borde más visible */
    background-color: #F9F9F9; /* Fondo tenue */
}

.line-number-area {
    background-color: #F9F9F9;
    color: #333333; /* Color del texto */
    padding: 2px; /* Ajuste de relleno para mejor visualización */
}